@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap');
* {
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}

.home-header {
	background: -webkit-linear-gradient(#67e8f9, #38bdf8, #7dd3fc);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.home-header-span {
	background: -webkit-linear-gradient(#7cffac, #70f7c1, #5eead4);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.font-PressStart {
	font-family: 'Press Start 2P', 'cursive';
}
.font-Poppins {
	font-family: 'Poppins', sans-serif;
}

/* width */
::-webkit-scrollbar {
	width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
	background: rgba(74, 222, 128, 0.15);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgba(0, 179, 255, 0.466);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 179, 255, 0.671);
}
